<!DOCTYPE html>
<html>
<head>
    <title>My Blog</title>
</head>
<body>

{% if username %}
Welcome {{username}} <a href="/logout">Logout</a> | <a href="/newpost">New Post</a>

<p>
    {% else %}
    You are not logged in! <a href="/login">Login</a> | <a href="/signup">Sign Up</a>

<p>
    {% endif %}

<h1>My Blog</h1>

{% for post in myposts %}
<h2><a href="/post/{{post['permalink']}}">{{post['title']}}</a></h2>
Posted {{post['date']}} <i>By {{post['author']}}</i><br>
Comments:
<a href="/post/{{post['permalink']}}">{{post['comments']|length}}</a>
<hr>
{% autoescape false %}
{{post['body']}}
{% endautoescape %}
<p>

<p>
    <em>Filed Under</em>:
    {% for tag in post.tags %}
    {% if loop.first %}
    <a href="/tag/{{tag}}">{{tag}}</a>
    {% else %}
    , <a href="/tag/{{tag}}">{{tag}}</a>
    {% endif %}
    {% endfor %}
    {% endfor %}

<p>
</body>
</html>


