<!doctype HTML>
<html>
<head>
    <title>Create a new post</title>
</head>
<body>

{% if username %}
Welcome {{username}} <a href="/logout">Logout</a>

<p>
    {% else %}
    You are not logged in! <a href="/login">Login</a> | <a href="/signup">Sign Up</a>

<p>
    {% endif %}
    <a href="/">Blog Home</a><br><br>

<form action="/newpost" method="POST">
    {{errors}}
    <h2>Title</h2>
    <input type="text" name="subject" size="120" value="{{subject}}"><br>

    <h2>Blog Entry
        <h2>
            <textarea name="body" cols="120" rows="20">{{body}}</textarea><br>

            <h2>Tags</h2>
            Comma separated, please<br>
            <input type="text" name="tags" size="120" value="{{tags}}"><br>

            <p>
                <input type="submit" value="Submit">

</body>
</html>

